/* reset link colors */
a { color: #111; }
a:hover { color: #111; }
a:visited { color: #111; }

#container {
    margin: 10px auto;
}

#nav {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 155px; /* width of image +10px */
    border-bottom: 1px solid gray;
}

#nav #sections {
    margin: 20px 5px;
}

#nav #sections ul {
    padding: 0;
    margin: 0;
    border: none;
}

#nav #sections li {
    list-style: none;
    font-weight: bold;
    margin: 5;
}

#nav #sections li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-left: 1px solid #000;
}

#nav #sections li a:hover {
    background-color: #BBDAFF; /* thanks to Christine */
}

#me {
    text-align: center;
    font-family: Inconsolata, Consolas, Courier, Andale Mono, monospace;
}

#me #first {
    font-weight: bold;
    font-size: 1.4em; /* len'Lanzaa' + 1 / len'Colin' = 7/5 = 1.4 */
    color: #708090; /* slate gray */
}

#me #nick {
    color: #4682b4; /* steel blue */
}

#me a {
    text-decoration: none;
}

#content {
    margin-left: 165px; /* width of image +20px */
}

